.h3 {
    font-size: 26px;
    font-weight: 700;
}

.h1 {
    font-size: 36px;
    font-weight: 500;
}

.h4 {
    font-size: 18px;
    font-weight: 400;
}

.frontmatter {
    text-align: center;
    line-height: 1.5;
}

.main {
    line-height: 1.3;
}