@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

.nav {
    height: 50px;
    padding: 10px;
    background: #000;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
  }
  
  .nav ul {
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li a {
    margin: 5px 15px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }